/* CSS RESET */

* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Stack Sans Text", Inter, sans-serif;
}

html {
    background-repeat: repeat;
}

main {
    min-height: calc(100dvh - 70px);
}

main div.backgroundAll {
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100%;
    z-index: -1;
    background: #777777 url(../images/bg.png) center/cover no-repeat;
}

@media (max-width: 426px) {

    main {
        height: 100vh;
    }

}