img.PayPal {
    display: block;
    margin: 50px auto;
    width: 300px;
    height: auto;
    border-radius: 15px;
}

main h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5em;
    color: #fff;
}

main p {
    text-align: center;
    margin-top: 20px;
    font-size: 1.4em;
    color: #fff;
}

@media (max-width: 840px) {

    img.PayPal {
        width: 45%;
    }

    main h1 {
        font-size: 1.8em;
    }

    main p {
        font-size: 1.2em;
    }
}

@media (max-width: 625px) {
    
    img.PayPal {
        width: 55%;
        margin: 20px auto 0;
    }

    main h1 {
        font-size: 1.5em;
        margin-top: 10px;
        padding: 0 20px;
    }

    main p {
        font-size: 1.2em;
        margin-top: 10px;
        padding: 10px 20px;
    }

}

/* LARGE SCREENS */

@media (min-width: 1000px) {
      
    img.PayPal {
        width: 45%;
    }

    main h1 {
        font-size: 3em;
    }

}

@media (min-width: 1440px) {

    img.PayPal {
        width: 25%;
    }

    main p {
        font-size: 1.8em;
    }

}