footer {
    background-color: black;
    border-top: solid 3px white;
}

footer div.bottomMenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer div.bottomMenu div {
    text-align: center;
    padding: 15px;
}

footer div.bottomMenu div a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

footer div.bottomMenu div a:hover, footer div.bottomMenu div a.active {
    color: dodgerblue;
}

footer div.bottomMenu div a p {
    font-size: 30px;
}

footer p.copyright {
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 760px) {

    footer div.bottomMenu {
        grid-template-columns: 1fr;
        margin-top: 10px;
        width: 60%;
        margin: 30px auto 0;
    }

    footer div.bottomMenu div {
        padding: 10px 0;
        border-bottom: solid 3px gray;
    }

    footer div.bottomMenu div:last-child {
        border-bottom: none;
    }

}

@media (max-width: 500px) {

    footer div.bottomMenu {
        width: 80%;
    }

}

@media (min-width: 1550px) {

    footer div.bottomMenu {
        margin-top: 30px;
    }

    footer div.bottomMenu div a p {
        font-size: 40px;
    }

    footer p.copyright {
        font-size: 20px;
    }

}