footer {
    background-color: black;
    border-top: solid white 4px;
}

footer div.footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}

footer div.footerGrid div {
    margin: 20px 0;
    text-align: center;
}

footer div.footerGrid div a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 20px auto;
    font-size: 1.4em;
    transition: .6s;
}

footer div.footerGrid div:nth-child(2) a {
    color:black;
    background-color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: .6s;
}

footer div.footerGrid div:nth-child(2) a:hover {
    background-color: dodgerblue;
    color: white;
}

footer div.footerGrid div a:hover, footer div.footerGrid div a.active {
    color: dodgerblue;
}

footer p.copyright {
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 700px) {

    footer div.footerGrid {
        grid-template-columns: 1fr;
    }

    footer div.footerGrid div:nth-child(2) {
        order: -1;
    }

}