/* Comments in all caps are for finding where something is more easily. Other comments are instructions for other purposes. */

header {
    background-image: linear-gradient(dodgerblue, blue);
    height: 60px;
    border-bottom: solid white 3px;
    overflow-y: hidden;
}

/* LOGO */

header div.logo {
    line-height: 57px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 16px;
    display: inline;
    width: fit-content
}

header div.logo a {
    color: white;
    text-decoration: none;
}

/* TOP MENU */

header div.openMenu {
    display: none;
}

header nav {
    width: fit-content;
    float: right;
}

header nav ul {
    float: right;
    display: inline-flex;
    width: fit-content;
    align-items: center;
    height: 57px;
    list-style-type: none;
}

header nav ul li {
    float: left;
    font-weight: bold;
    margin-right: 12px;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    transition: background-color .6s;
}

header nav ul li:nth-child(5), header nav ul li:last-child {
    display: none;
}

header nav ul li:hover, header ul li.active {
    background-color: navy;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

@media (max-width: 750px) {

    header nav {
        position: fixed;
        height: 100vh;
        background-color: black;
        width: 300px;
        right: -300px;
        top: 0;
        float: none;
        border-left: solid 3px white;
        z-index: 100;
        transition: 0.3s;
    }

    header div.openMenu {
        display: grid;
        justify-content: space-between;
        position: static;
        grid-template-columns: 1fr;
        float: right;
        width: 35px;
        height: 35px;
        margin-right: 13px;
        margin-top: 15px;
    }

    header div.openMenu div {
        background-color: white;
        display: block;
        height: 5px;
        border-radius: 2px;
        width: 33px;
        margin: 0 auto;
    }

    header nav div.closeMenu {
        position: static;
        float: right;
        width: 40px;
        height: 40px;
        margin-right: 15px;
        margin-top: 15px;
    }

    header nav div.closeMenu div {
        width: 38px;
        height: 5px;
        border-radius: 2px;
    }

    header nav div.closeMenu div:first-child {
        background-color: white;
        transform: rotate(45deg) translateY(11px) translateX(13px);
    }

    header nav div.closeMenu div:last-child {
        background-color: white;
        transform: rotate(-45deg) translateY(10px) translateX(-7px);
    }

    header nav ul {
        display: grid;
        grid-template-columns: 1fr;
        height: 80vh;
        margin-top: 10vh;
        float: none;
        width: 100%;
    }

    header nav ul li {
        text-align: center;
        margin-right: 0;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    header nav ul li:nth-child(5), header nav ul li:last-child {
        display: list-item;
    }

}

/* LARGE SCREENS */

@media (min-width: 2000px) {

    header {
        height: 80px;
    }

    header div.logo {
        line-height: 77px;
        font-size: 45px;
        margin-left: 20px;
    }

    header nav ul {
        height: 77px;
    }

    header nav ul li {
        font-size: 28px;
    }

}