div.openingBox {
    background-color: rgba(0, 0, 255, .8);
    margin: 40px auto 0;
    width: 95%;
    border-radius: 15px;
    border: solid 8px navy;
}

div.openingBox h1 {
    text-align: center;
    color: white;
    background-color: navy;
    padding: 15px 0 20px;
}

div.openingBox p {
    color: white;
    font-size: 25px;
    margin: 15px 20px;
}

div.libraryButton {
    background-color: rgba(0, 0, 255, .8);
    margin: 10px auto 0;
    width: 95%;
    border-radius: 15px;
    border: solid 8px navy;
    transition: .6s;
}

div.libraryButton:hover {
    background-color: dodgerblue;
    border-color: blue;
}

div.libraryButton a {
    text-decoration: none;
}

div.libraryButton a h2 {
    text-align: center;
    color: white;
    padding: 20px 0;
}

/* Abnormal Media Quaries */

@media (max-width: 1350px) {

    div.openingBox p.thinScreen {
        display: block;
    }

    div.openingBox p.wideScreen {
        display: none;
    }

}

@media (min-width: 1350px) {

    div.openingBox p.thinScreen {
        display: none;
    }

    div.openingBox p.wideScreen {
        display: block;
    }

}

/* Small Media Quaries */

@media (max-width: 570px) {

    div.openingBox, div.libraryButton {
        width: 95%;
    }

}

@media (max-width: 425px) {

    div.openingBox h1 {
        font-size: 26px;
    }

    div.openingBox p {
        font-size: 22px;
    }

}

@media (max-width: 390px) {

    div.openingBox p {
        font-size: 20px;
    }

    div.libraryButton h2 {
        font-size: 1.3em;
    }

}

@media (min-width: 1200px) {

    div.openingBox {
        width: 70%;
    }

    div.openingBox h1 {
        font-size: 3em;
    }

    div.openingBox p {
        font-size: 2.5em;
        margin: 45px;
    }

    div.libraryButton {
        width: 70%;
    }

    div.libraryButton h2 {
        font-size: 2.8em;
    }

}