div.textContainer {
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
}

div.textSection {
    text-align: center;
    margin: 40px auto;
    width: 100%;
}

div.textSection h1 {
    background-color: navy;
    color: white;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    font-size: 2.5em;
}

div.textSection div {
    font-size: 2.2em;
    border-left: solid 4px navy;
    border-right: solid 4px navy;
    border-bottom: solid 4px navy;
    background-color: rgba(0, 0, 255, .8);
    transition: .6s;
}

div.textSection div:last-child, div.textSection div a p:last-child {
    border-radius: 0 0 20px 20px;
}

div.textSection div:hover {
    background-color: dodgerblue;
}

div.textSection div a {
    color: white;
    text-decoration: none;
}

div.textSection div a p {
    padding: 25px;
}

@media (max-width: 768px) {

    div.textContainer {
        width: 95%;
    }

    div.textSection h1 {
        font-size: 1.5em;
        padding: 15px;
    }

    div.textSection div {
        font-size: 1.8em;
    }

    div.textSection div a p {
        padding: 10px;
    }

}

@media (max-width: 550px) {

    div.textSection div {
        font-size: 1.5em;
    }    

}

@media (max-width: 350px) {

    div.textSection h1 {
        font-size: 1.4em;
    }

    div.textSection div {
        font-size: 1.3em;
    }    

}