/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    font-family:"Noto Serif", Lora, serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-image: url(../images/background2.png);
    background-size: cover;
    background-attachment: fixed;
}

div.bookButtons div a[href="#"] p {
    background-color: gray;
    border-color: lightgray;
    transition: .6s;
}

div.bookButtons div a[href="#"] p:hover {
    background-color: red;
    border-color: darkred;
}