* {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url('../images/background.png');
    height: 100vh
}

main {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    opacity: 1;
}